# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
build

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
*.pem
Thumbs.db
NUL

# Testing
coverage

# Misc
*.local

# TypeScript build info
*.tsbuildinfo
vite.config.d.ts
vite.config.d.ts.map
vite.config.js

# Claude
.claude/

# Reference screenshots
expects/
